/* Importación de la fuente Open Sans desde Google Fonts. Esta fuente se utilizará en todo el documento. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*Se importan estilos generales*/
*{
    margin: 0; /* Establece el margen en cero para todos los elementos.*/
    padding: 0; /* Establece el relleno en cero para todos los elementos.*/
    box-sizing: border-box; /* Cambia el modelo de caja para incluir el tamaño del borde y el relleno en el ancho y alto del elemento.*/
    font-family: 'Open Sans', sans-serif; /* Establece la fuente de todos los elementos como "Open Sans" y si esa fuente no está disponible, se utilizará una fuente genérica sans-serif.*/
}

body{
    width: 100%;
    display:flex;
    padding: 0px;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
  }

/*1. Empiezan los estilos del Header (Rectangulo)*/
.rectangulo {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    position: fixed;
    display: flex;
  }
  
  .rectangulo img {
    width: 50%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    top: 0;
  }
  
  .rectangulo img:nth-child(1) {
    width: 210px;
    display:flex;
    height: 100px;
    position: fixed;
    margin-top: 0px;
    margin-left: px;
    padding: 25px;
    transform: translateY(-10%)
  }
  
  .rectangulo img:nth-child(2) {
    width: 220px;
    display:flex;
    height: 60px;
    position: fixed;
    margin-top: 0px;
    margin-left: 210px;
    transform: translateY(10%)
  }


/*2. Empieza el Heater y la barra de navegacion o menu */
header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #EB8600;
  /*padding: -10px;*/
  justify-content: space-between;
  box-shadow: 0 15px 15xp rgb(255, 230, 0);
  transition: background-color 0.3s ease-in-out;
  transform: translateY(160%)
  
}

header.transparent {
  background-color: transparent;
}

.logo {
  display: flex;
  align-items: center;
  height:5px;
  transform: translateY(350%)
}

.logo a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px; /* Ajusta el tamaño del icono */
}

.logo a:first-child {
  margin-right: 1340px; /* Ajusta el margen entre los logos */
}

.logo a i {
  margin-right: 5px;
  vertical-align: middle; /* Alinea verticalmente los iconos */
}  


.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 15px;
}

.menu li {
  display: block;
  margin-left: 85px;
  margin-right: -25px;
  height: 50px;
  transform: translateY(15%)
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.menu li a::before{
  content: '';
  position: fixed;
  bottom: 25px;
  width: 70px;
  height: 2px;
  background: #facf8f;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: right;
}

.menu li a:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}
.menu li label{
  color: #fff;
  text-decoration: none;
  margin-left: 740px;
  margin-right: 60px;
  background-color: rgba(0, 0, 0, 0);
}
.menu li label::before{
  content: '';
  position: fixed;
  bottom: 25px;
  width: 70px;
  height: 2px;
  background: #facf8f;;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: right;
}

.menu li label:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}

 /*3. Mostrar menu responsive */
 .mostrar-menu, .esconder-menu{
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
  color: #fff;
}

.mostrar-menu{
  order: 2;
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff
}

.esconder-menu {
  position: absolute;
  top: 40px;
  right: 40px;
  order: 2;
  margin-right: 10px;
}

#check{
  display: none;
}

 /*RESPONSIVE*/
 @media(max-width: 1700px){
  .logo .fa-user{
    margin-left: 15px;
    background-color: #facf8f00;
  }
 }
 

 @media(max-width: 785px){

  .logo a:first-child {
    margin-right:0%;
  }

  .logo a:last-child {
    margin-left: auto;
  }

  /*HEADER Y BARRA NAV*/



  .mostrar-menu, .esconder-menu{
    display: block;
  }

  .menu{
    position: fixed;
    width: 50%;
    height: 100vh;
    background: #eb8500cc;
    right: -90%;
    top: 40px;
    flex-direction: column;
    align-items: start;
    padding: 100px 2px;
    z-index: 100;
    transition: transform 0.8s ease-in-out;
    transform: translateY(8%);
  }

  .menu.active {
    right: 0;
    transform: translateY(0);
  }

  .menu li a{
    margin: 15px 0;
  }

  .menu li label{
    margin: 15px 0;
  }
  .mostrar-menu, .esconder-menu {
    display: block;
  }
  .esconder-menu{
    position: absolute;
    top: 40px;
    right: 40px;
    order: 2;
    margin-right: 10px;

  }
  #check:checked ~ .menu{
    right: 0;
    transform: translateY(0);

  }
 }
 
  /*3. Cuerpo de la pagina */

main{
    position: static;
    margin-top: 10%;
    margin-bottom: 100px;
}

main #seccion1 .cuerpo article {
    margin: 10px;
	line-height: 28px;
}


#seccion1 .cuerpo article p {
	margin-bottom: 25px;
}

#seccion2 .container{
  width: 24%;
  height: 50%;
  display: inline-block;
  max-width: 1100px;
  align-items: center;
  justify-content: center;
}

#seccion2 .card{
  width: 80%;
  margin: 20px;
  border-radius: 6px;
  overflow:hidden;
  position: relative;
  background: #fff;
  box-shadow: 5px 10px 20px rgba(247, 163, 84, 0.337);
  cursor: pointer;
  transition: all 400ms ease;
}

#seccion2 .card:hover{
  box-shadow: 5px 5px 20px  rgba(235, 160, 90, 0.4);
  transform: translateY(-3%);
}

#seccion2 .card img{
  width: 100%;
  height: 300px; 
}

#seccion2 .card .contenido{
  position: absolute;
  padding: 100px;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.518);
}

#seccion2 .card .contenido h3{
  justify-content: center;
  margin-bottom: 15px;
  color: #fff;
}

#seccion2 .card .contenido button{
  width: 150px;
  height: 40px;
  border-radius: 4px;
  color: #fff;
  background-color: rgba(145, 154, 162, 0.979);
  border-color:rgba(145, 154, 162, 0);
}

#seccion2 .card .contenido button:hover{
  background-color: #f1a2238a  
}

@media only screen and (max-width: 768px) {
  #seccion2 .card {
  width: 50%;
}

#seccion2 .card .contenido h3 {
  font-size: 16px;
}

#seccion2 .card .contenido button {
  width: 100px;
  height: 30px;
}
}

/*3.2 INICIO DE BARRA DE INFO */
#seccion3 .barra {
  background-color:  rgba(145, 154, 162, 0.844);
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

#seccion3 .barra h1 {
  margin: 0;
  font-size: 24px;
}

#seccon4{
  display: flex;
  flex-wrap: wrap;
}

#seccion4 .columna{
  flex-basis: 50%;
}
#seccion4 .mapa{
  outline: 1px solid orange;
  margin: 3em auto;
  width: 300px;
  height: 300px;
}

#seccion4 .mapa iframe{
  width: 100%;
  height: 100%;

}

#seccio4 .video{
  outline: 1px solid orange;
  margin: 3em auto;
  width: 300px;
  height: 300px;
}

  /*4.. Empiezan los estilos del Fooder */
footer {
    background-color: #EB8600; /*Establece el color de fondo del footer como #ff9100 (un tono de naranja de los Muckps).*/
    width: 100%; /*Establece el ancho del footer al 100% del ancho de su contenedor.*/
    padding: 20px; /*Establece un espacio interno de 20px en todos los lados del footer. */
    margin: 0px; /*Establece la margen en lados del footer. */ 
    height: 245px; /* Establece la altura del footer.*/
    margin-top: auto;
  }
  
  .contenedor{
    position: relative;
    display:flex;
    justify-content: flex-start;
    margin-top: -50px;
    padding: 1px;
  }
  .logo1{
    position: absolute;
    width: 100px;
    height: 150px;
    margin-right: 2800px;
    left: 25px;
    transform: translateY(40%)
  }
  .logo2{
    position: absolute;
    width: 140px;
    height: auto;
    top: 48%;
    left: 53%;
    transform: translate(30%, 50%);
  }
  .social-media {
    position: relative;
    text-align:end;
    display: flexbox;
    align-items: flex-end;
    margin-bottom: 10px;
    transform: translateY(650%)
  }
  
  .social-media a {
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 35px;
    border-radius: 20%;
    color: #EB8600;
    margin-right: 10px;
    background-color: #ffffff;
    text-align: center;
    transition: all 300ms ease;
  }

  .social-media a:hover{
    color: rgb(255, 230, 0);
  }
  
  .column-container {
    display: flex;
    justify-content: space-between;
  }
  
  .column1 {
    width: 500px;
    right: 200px;
    left: 180px;
    position: relative;
  }
  
  .column1 h1 {
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
  .column1 h4 {
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    font-size: 13px;
  }
  
  .column1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: 13px;
  }
  
  .column1 ul li {
    margin-bottom: 5px;
    color: #fff;
  }
  
  .column1 ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .column1 ul li a:hover {
    text-decoration: underline;
    color: #ffc979;
  }
  /* Columna de texto 2*/

    .column2 {
    width: 30%;
    right: 2px;
    left: 10%;
    position: relative;
    align-items: center;
    transform: translateY(15%)
    
  }
  
  .column2 h1 {
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
  
  .column2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: 13px;
  }
  
  .column2 ul li {
    margin-bottom: 5px;
    color: #fff;
    font-size: 13px;
  }
  
  .column2 ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .column2 ul li a:hover {
    text-decoration: underline;
    color: #ffc979;
  }
  .line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2px;
    background-color: #fcfcfc;
  }
  .vertical-line {
    width: 2px; /* Ancho de la línea */
    height: 175px; /* Altura de la línea */
    background-color: #fdfcfc; /* Color de la línea */
    position: relative;
    left: -20px;
  }
  .text2{
    position: relative;
    width: 100%;
    background-color: #EB8600;
    padding: 5px 5px;
    text-align: center;
    color: #fff;
  }

  .text2 small{
    font-size: 12px;
  }
 
  @media screen and (max-width: 800px) {
    .contenedor {
      width: 100%;
      height: 50vh;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      flex-wrap: wrap;
    }
  
    .logo1 {
      position: static;
      margin-bottom: 10px;
    }
  
    .column1,
    .column2 {
      width: 100%;
      right: auto;
      left: auto;
    }
  }
  
  @media screen and (max-width: 500px) {
    .social-media {
      align-items: center;
      transform: translateY(100%);
    }
  }
