@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	width: 100%;
	display:flex;
	padding: 0px;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
	background: #fff;
}

/*1. Empiezan los estilos del Header (Rectangulo)*/
.rectangulo {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    position: fixed;
    display: flex;
  }
  
  .rectangulo img {
    width: 50%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    top: 0;
  }
  
  .rectangulo img:nth-child(1) {
    width: 210px;
    display:flex;
    height: 100px;
    position: fixed;
    margin-top: 0px;
    margin-left: px;
    padding: 25px;
    transform: translateY(-10%)
  }
  
  .rectangulo img:nth-child(2) {
    width: 220px;
    display:flex;
    height: 60px;
    position: fixed;
    margin-top: 0px;
    margin-left: 210px;
    transform: translateY(10%)
  }

  /*2. Empieza el Heater y la barra de navegacion o menu */
header {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	background-color: #EB8600;
	/*padding: -10px;*/
	justify-content: space-between;
	box-shadow: 0 15px 15xp rgb(255, 230, 0);
	transition: background-color 0.3s ease-in-out;
	transform: translateY(160%)
	
  }
  
  header.transparent {
	background-color: transparent;
  }
  
  .logo {
	display: flex;
	align-items: center;
	height:5px;
	transform: translateY(350%)
  }
  
  .logo a {
	display: flex;
	align-items: center;
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 30px; /* Ajusta el tamaño del icono */
  }
  
  .logo a:first-child {
	margin-right: 1340px; /* Ajusta el margen entre los logos */
  }
  
  .logo a i {
	margin-right: 5px;
	vertical-align: middle; /* Alinea verticalmente los iconos */
  }  
  
  
  .menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 15px;
  }
  
  .menu li {
	display: block;
	margin-left: 85px;
	margin-right: -25px;
	height: 50px;
	transform: translateY(15%)
  }
  
  .menu li a {
	color: #fff;
	text-decoration: none;
  }
  
  .menu li a::before{
	content: '';
	position: fixed;
	bottom: 25px;
	width: 70px;
	height: 2px;
	background: #facf8f;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
	transform-origin: right;
  }
  
  .menu li a:hover::before{
	transform: scaleX(1);
	transform-origin: left;
  }
  .menu li label{
	color: #fff;
	text-decoration: none;
	margin-left: 740px;
	margin-right: 60px;
	background-color: rgba(0, 0, 0, 0);
  }
  .menu li label::before{
	content: '';
	position: fixed;
	bottom: 25px;
	width: 70px;
	height: 2px;
	background: #facf8f;;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
	transform-origin: right;
  }
  
  .menu li label:hover::before{
	transform: scaleX(1);
	transform-origin: left;
  }


 /*3. Mostrar menu responsive */
 .mostrar-menu, .esconder-menu{
	font-size: 30px;
	cursor: pointer;
	display: none;
	transition: 0.4s;
	color: #fff;
  }
  
  .mostrar-menu{
	order: 2;
	right: 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #fff
  }
  
  .esconder-menu {
	position: absolute;
	top: 40px;
	right: 40px;
	order: 2;
	margin-right: 10px;
  }
  
  #check{
	display: none;
  }
  
   /*RESPONSIVE*/
   @media(max-width: 1700px){
	.logo .fa-user{
	  margin-left: 15px;
	  background-color: #facf8f00;
	}
   }
   
  
   @media(max-width: 785px){
  
	.logo a:first-child {
	  margin-right:0%;
	}
  
	.logo a:last-child {
	  margin-left: auto;
	}
  
	/*HEADER Y BARRA NAV*/
  
  
  
	.mostrar-menu, .esconder-menu{
	  display: block;
	}
  
	.menu{
	  position: fixed;
	  width: 50%;
	  height: 100vh;
	  background: #eb8500cc;
	  right: -90%;
	  top: 40px;
	  flex-direction: column;
	  align-items: start;
	  padding: 100px 2px;
	  z-index: 100;
	  transition: transform 0.8s ease-in-out;
	  transform: translateY(8%);
	}
  
	.menu.active {
	  right: 0;
	  transform: translateY(0);
	}
  
	.menu li a{
	  margin: 15px 0;
	}
  
	.menu li label{
	  margin: 15px 0;
	}
	.mostrar-menu, .esconder-menu {
	  display: block;
	}
	.esconder-menu{
	  position: absolute;
	  top: 40px;
	  right: 40px;
	  order: 2;
	  margin-right: 10px;
  
	}
	#check:checked ~ .menu{
	  right: 0;
	  transform: translateY(0);
  
	}
   }
   
/*3. Cuerpo de la pagina */
  
  main{
	  margin-top: 10%;
  }
  
main .contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

main .contenedor article {
	line-height: 28px;
}

main .contenedor article h1 {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}

main .contenedor article p {
	margin-bottom: 20px;
}

main .contenedor article .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #EB8600;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

main .contenedor article .btn-abrir-popup:hover {
	background: rgba(252, 176, 115, 0.9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #fdf8f0;
	box-shadow: 0px 0px 5px 0px rgba(254, 195, 114, 0.863);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;	
	text-align: center;
	width: 600px;
	border-radius: 20px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #EB8600
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup h6 {
	font-size: 15px;
	font-weight: 200;
	margin-bottom: 20px;
	opacity: 0;
	height: -40px;
}

.popup form .contenedor-inputs {
	width: 100%;	
}

.popup form .contenedor-inputs img {
	width: 100%;
	height: 250px;
	align-self: center;

}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #f19b4a;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(245, 188, 135, 0.9);
}


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active h6 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs img{ animation: entradaInputs 1s ease-out 0s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

/*4.. Empiezan los estilos del Fooder */
footer {
    background-color: #EB8600; /*Establece el color de fondo del footer como #ff9100 (un tono de naranja de los Muckps).*/
    width: 100%; /*Establece el ancho del footer al 100% del ancho de su contenedor.*/
    padding: 20px; /*Establece un espacio interno de 20px en todos los lados del footer. */
    margin: 0px; /*Establece la margen en lados del footer. */ 
    height: 245px; /* Establece la altura del footer.*/
    margin-top: auto;
  }
  
  .contenedor{
    position: relative;
    display:flex;
    justify-content: flex-start;
    margin-top: -50px;
    padding: 1px;
  }
  .logo1{
    position: absolute;
    width: 100px;
    height: 150px;
    margin-right: 2800px;
    left: 25px;
    transform: translateY(40%)
  }
  .logo2{
    position: absolute;
    width: 140px;
    height: auto;
    top: 48%;
    left: 53%;
    transform: translate(30%, 50%);
  }
  .social-media {
    position: relative;
    text-align:end;
    display: flexbox;
    align-items: flex-end;
    margin-bottom: 10px;
    transform: translateY(650%)
  }
  
  .social-media a {
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 35px;
    border-radius: 20%;
    color: #EB8600;
    margin-right: 10px;
    background-color: #ffffff;
    text-align: center;
    transition: all 300ms ease;
  }

  .social-media a:hover{
    color: rgb(255, 230, 0);
  }
  
  .column-container {
    display: flex;
    justify-content: space-between;
  }
  
  .column1 {
    width: 500px;
    right: 200px;
    left: 180px;
    position: relative;
  }
  
  .column1 h1 {
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
  .column1 h4 {
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    font-size: 13px;
  }
  
  .column1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: 13px;
  }
  
  .column1 ul li {
    margin-bottom: 5px;
    color: #fff;
  }
  
  .column1 ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .column1 ul li a:hover {
    text-decoration: underline;
    color: #ffc979;
  }
  /* Columna de texto 2*/

    .column2 {
    width: 30%;
    right: 2px;
    left: 10%;
    position: relative;
    align-items: center;
    transform: translateY(15%)
    
  }
  
  .column2 h1 {
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
  
  .column2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: 13px;
  }
  
  .column2 ul li {
    margin-bottom: 5px;
    color: #fff;
    font-size: 13px;
  }
  
  .column2 ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .column2 ul li a:hover {
    text-decoration: underline;
    color: #ffc979;
  }
  .line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2px;
    background-color: #fcfcfc;
  }
  .vertical-line {
    width: 2px; /* Ancho de la línea */
    height: 175px; /* Altura de la línea */
    background-color: #fdfcfc; /* Color de la línea */
    position: relative;
    left: -20px;
  }
  .text2{
    position: relative;
    width: 100%;
    background-color: #EB8600;
    padding: 5px 5px;
    text-align: center;
    color: #fff;
  }

  .text2 small{
    font-size: 12px;
  }
 
  @media screen and (max-width: 800px) {
    .contenedor {
      width: 100%;
      height: 50vh;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      flex-wrap: wrap;
    }
  
    .logo1 {
      position: static;
      margin-bottom: 10px;
    }
  
    .column1,
    .column2 {
      width: 100%;
      right: auto;
      left: auto;
    }
  }
  
  @media screen and (max-width: 500px) {
    .social-media {
      align-items: center;
      transform: translateY(100%);
    }
  }
