body {
    margin: 5%;
    padding: 0;
    
}

.card {
    max-width: 700px;
    margin: 0 auto;
    padding:30px;
    background-color: white;
    border-radius: 15px;
    border: 10px solid rgb(185, 181, 174);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-1  {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.bi-person{
    color: orange;
    size: 50%;
}

.title-1 h1 {
    display: inline-block;
    color: black;
}


.user-photo {
    position: relative;
    width: 25%;
    height: auto;
    border-radius: 5%;
    right: 0%;
    margin: 10px;
}

.user-info {
    position: relative;
    display: inline-block;
    margin: 10px;
    top: -55px;
    
}

button {
    width: 125px;
    height: 40px;
    margin: 2px;
    border-radius: 15px;
}

.btn-load,
.btn-edit {
    background-color: orange;
    border: 0;
    color: white;
}

.btn-delete
.btn-volver {
    background-color: white;
    border-color: rgb(168, 168, 168);
}

.btn-edit,
.btn-volver {
    width: 15%;
    height: 30px;
}

.btn-group {
    display: flex;
    justify-content: center;
    justify-items: center;
}


.input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-group p {
    margin: 0;
    padding: 2em;
    top: 20%;
}

.input-group input,
.input-group label {
    width: 100%;
    padding: 0.9em;
    
}



.user-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.user-email,
.user-profession {
    font-size: 16px;
    margin: 5px 0;
}



/* Media Query for responsive design */
@media screen and (max-width: 576px) {
    .card {
        max-width: 100%;
    }
}
