h1 {

    font-family: 'Source Serif Pro', cursive;
    color: #47525E;
    font-size: 20px;
}

.textoCenter {
    text-align: center;
}

.card {
    background-color: #969FAA;
    border: 2px solid #969FAA;
    border-radius: 15px;
    width: 1010px;
    height: 1010px;
    top: 100px;
    position: relative;
}

.selectortwo {
    background-color: #FFFFFF;
    border: 2px solid #EB8600;
    border-radius: 15px;
    width: 1000px;
    height: 1000px;
}