section {
  border: 10px solid #1d1c1c5d;
  border-radius: 6px;
  
}
.table-container {
  overflow-x: auto;
  padding: 10px;
  border: solid #e4b942;
  border-radius: 5px;
  text-justify: distribute;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(243, 241, 235);
}

table tr:nth-child(odd) td {
  background-color: rgb(240, 236, 207);
}

thead{
  background-color: rgb(211, 218, 226);
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #b3b2b2;
  border-color: 1px solid rgb(232, 235, 240);
  
}

.btn-edit {
  display: inline-block;
  padding: 3px;
  margin-top: 4px;
  border-radius: 100%;
  border:  solid black;
  
}

.btn-delete {
  display: inline-block;
  padding: 3px;
  margin-top: 4px;
  border-radius: 100%;
  border:  solid black;
  
}

#search-input {
  margin-bottom: 10px;
  padding: 5px;
  
}

.pagination {
  margin-top: 10px;
  text-align: center;
}

.prev-button, .next-button {
  padding: 5px 10px;
  margin: 0 5px;
}

.pagination {
  margin: 20px 0;
}

.pagination ul{
  list-style: none;
  text-align: center;
}

.pagination ul li {
  display: inline-block;
  margin-right: 0px;
  border: 1px solid #797777;
  align-items: center;
}

button {
  background: #e4b942;
  height: 35px;
  width: 120px;
  border: none;
  border-radius: 10px;
  color: white;
}

.pagination ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}

.pagination ul li a:hover {
  background: #c2cee7;
}


.page-number {
  margin: 0 10px;
}

img {
  width: 60px;
}

h1, .title-admin {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 29px;
  font-size: 35px;
  
}