:root {
    --primary: #111B54;
    --light: #ffffff;
    --grey: #F3F1E5;
    --green: #5f38b5;
    --greenlight: #48C9B0;
}

/*google fonts poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200;1,300;1,600&display=swap');

body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--primary);
    background-color: #F3F1E5;
}

.cuerpo {
    background-color: #F3F1E5;
}

a:hover {
    text-decoration: none;
}

.bg-primary {
    background-color: var(--green) !important;
}

.bg-light {
    background-color: var(--light) !important;
}

.bg-mix {
    background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0);
}

.btn-primary {
    background-color: var(--green);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--greenlight);
}

.logo h4 {
    color: var(--primary);
    justify-content: center;
    align-items: center;
}

.menu a {
    color: var(--primary);
}

#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo {
    padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
    width: 18rem;
}


#content {
    margin: 0 auto;
    max-width: 800px;
    height: 100vh;
    padding: 20px;
    border-radius: 35px;
}

.avatar {
    max-width: 45px;
}

.avatar2 {
    max-width: 48px;
}

.btn-search {
    right: 0;
}

.ion-md-power {
    font-size: 20px;
}

.ion-md-person {
    font-size: 20px;
}

.stat {
    border-right: 1px solid var(--grey);
}

.wrapper .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.information_element {
    padding-right: 0px;
}

/***/
.element {
    width: 100%;
    margin: auto;
    text-align: left;
}

p {
    color: black;
    font-size: 16px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
    position: relative;
    left: 156px;

}

.row {
    /*margin-top: -5%;*/
    display: flex;
    justify-content: space-between;
}

/**Enter and take button**/
.enter-button {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #766DFA;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 12px;
    background: transparent;
    position: relative;
    cursor: pointer;
    align-items: flex-end;
}

.enter-button:hover {
    border: 2px solid black;
    background-color: #766DFA;
    transition: 1s;
}

.btn {
    border-radius: 4px;
    border: 1px solid #766DFA;
}

.btn:hover {
    background-color: #766DFA;
    color: white;
}

.take-button {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid #766DFA;
    border-radius: 7px;
    padding: 12px 20px;
    font-size: 12px;
    background: transparent;
    position: relative;
    cursor: pointer;
    align-items: flex-end;
}

.take-button:hover {
    border: 2px solid black;
    background-color: #766DFA;
    transition: 1s;
}

/**sidebar**/
.bar {
    background-color: black;
    border-right: 2px solid;

}

/**Finish Enter and take button**/
#login-col {
    background: white;
}

.login-col {
    flex-basis: 46%;
    /*background-color: rgba(129, 180, 128, 0.4);*/
    background: transparent;
    border-radius: 0px;
    border: 1px solid #999C9A;
    margin: 10px;
    margin-bottom: 0.5%;
    padding: 70px 48px;
    box-sizing: border-box;
    justify-content: space-between;
    border-left: 20px solid #90F684;
}

.wrapper .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.information_element {
    padding-right: 0px;
}

.login-col1 {
    flex-basis: 100%;
    background: transparent;
    border-radius: 0px;
    border: 0.9px solid #160644;
    margin: 10px;
    margin-bottom: 0.5%;
    padding: 0px 48px;
    box-sizing: border-box;
    border-left: 20px solid #160644;
}

.login-col2 {
    flex-basis: 100%;
    background: transparent;
    border-radius: 0px;
    border: 1px solid #FC805F;
    margin: 10px;
    margin-bottom: 0.5%;
    padding: 0px 48px;
    box-sizing: border-box;
    border-left: 20px solid #FC805F;
}

.login-col3 {
    flex-basis: 100%;
    background: transparent;
    border-radius: 0px;
    border: 1px solid #F5333F;
    margin: 10px;
    margin-bottom: 0.5%;
    padding: 0px 48px;
    box-sizing: border-box;
    border-left: 20px solid #F5333F;

}

.login-col4 {
    flex-basis: 100%;
    background: transparent;
    border-radius: 0px;
    border: 1px solid #169968;
    margin: 10px;
    margin-bottom: 0.5%;
    padding: 0px 48px;
    box-sizing: border-box;
    border-left: 20px solid #169968;
}

.login-col5 {
    flex-basis: 100%;
    background: transparent;
    border-radius: 0px;
    border: 1px solid #2B5243;
    margin: 10px;
    margin-bottom: 0.5%;
    padding: 0px 48px;
    box-sizing: border-box;
    border-left: 20px solid #2B5243;
}

.login-col6 {
    flex-basis: 100%;
    background: transparent;
    border-radius: 0px;
    border: 1px solid #11776C;
    margin: 10px;
    margin-bottom: 0.5%;
    padding: 0px 48px;
    box-sizing: border-box;
    border-left: 20px solid #11776C;
}

.login-col1 .login-col2 .login-col3 .login-col4 .login-col5 h1 {
    text-align: left;
}

.login-color {
    width: 10px;
    height: 100px;
    background: blue;
    padding-left: auto;
}

.table_audit {
    background: #160644;
}

/** undeline **/
.nombre {
    display: inline-block;
    position: relative;
    left: 185px;
}



.nombre:after {
    content: '';
    position: absolute;
    width: 38%;
    height: 4px;
    bottom: 1%;
    left: 1%;
    background-color: #EB8600;

}

.nombre2:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 1%;
    left: 1%;
    background-color: #766DFA;
}

.nombre2 {
    display: inline-block;
    position: relative;
}

.nombre3:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 1%;
    left: 1%;
    background-color: #FFC844;
}

.nombre3 {
    display: inline-block;
    position: relative;
    text-align: center;
}

.nombre4:after {
    content: '';
    position: absolute;
    width: 55%;
    height: 3px;
    bottom: 1%;
    left: 1%;
    background-color: #766DFA;
}

.nombre4 {
    display: inline-block;
    position: relative;
    text-align: center;
}

.liena:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 1%;
    left: 1%;
    background-color: #FFC844;
}

.liena {
    display: inline-block;
    position: relative;
}

/**end underline**/

.information_element h1 {
    font-size: 18px;
}

.information_element {
    width: 40%;
}

.info_totalQty h4 {
    font-size: 15px;
}

.info_totalQty {
    margin: 0px;
}

.element h3 {
    text-align: center;
    text-align: 600px;
    margin: 10px 0;
    font-size: 15px;
}

.login-col1:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.login-col2:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.login-col3:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.login-col4:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.login-col5:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.btn-log {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #999C9A;
    padding: 12px 34px;
    font-size: 15px;
    background: #999C9A;
    position: relative;
    cursor: pointer;
}

.btn-log:hover {
    border: 1px solid #81b480;
    /*background: #f44336;*/
    background: #81b480;
    transition: 1s;
}

.error {
    color: #f44336;
}

/*---- Open Window Add new User ------*/

.overlay {
    background: rgba(196, 207, 207, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background-color: #F3F1E5;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 500px;
    height: 900;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
}

.popup .btn-close-popup {
    font-size: 30px;
    line-height: 16px;
    display: block;
    text-align: right;
    cursor: pointer;
}

.form {
    text-align: center;
    margin: auto;
    width: 90%;
    max-width: 400px;
}

.popup h3 {
    font-size: 23px;
    font-weight: 600;
    opacity: 0;
    color: #001705;
    text-decoration: underline;
    text-decoration-color: #766DFA;
    text-align: center;
}

.elemnts {
    position: relative;
}

.popup form .container-inputs {
    opacity: 0;
    outline: none;
    width: 400px;

}

.container-inputs {
    gap: 1em;
}

.input {
    width: 100%;
    background: none;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    border-bottom: 1px solid #5f38b5;
    font-family: 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.label {
    color: #777;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 15px;
    transform: translateY(10px);
    transition: transform .5s, color #5f38b5 .3s;
}

.input:focus+.label,
.input:not(:placeholder-shown)+.label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #169968;
}

.popup form .btn-submit {
    padding: 0px;
    height: 40px;
    line-height: 40px;
    color: #001705;
    background: #766DFA;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.popup form .btn-submit:hover {
    background: #766DFA;
    border: 1px solid #1a1929;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 10px;
}

.selector {
    width: 400px;
}

.prueba {
    background: transparent;
    border: 1px solid #766DFA;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 5px 10px -5px rgba(118, 109, 250, 0.30);
}

.selector p {
    font-size: 15px;
}

.opt {
    background: #F3F1E5;
    border: 1px solid #766DFA;
    border-radius: 25px;
}

.file {
    width: 100%;
}

.file2 {
    margin: 10px 0;
    width: 100%;
}

/*---- Close Other Window ------*/

h7 {
    font-size: 60;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {
    opacity: 1;
    transform: scale(1);
}

.popup.active h3 {
    animation: openTitle .8s ease .5s forwards;
}

.popup.active .container-inputs {
    animation: openInputs 1s ease 1s forwards;
}

@keyframes openTitle {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes openInputs {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*---- footerSection ------*/
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: #F1F0F6;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa {
    color: #766DFA;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o {
    color: #f44336;
}

p {
    color: black;
    font-size: 16px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
    position: relative;
    left: 156px;
}

.cuadradoMensaje {
    background-color: #F3F1E5;
    border-radius: 57px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidenav a {
    padding: 10px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidenav a:hover {
    background-color: #555;
}

/* Estilos para el contenido principal */
.main-content {
    margin-left: 260px;
    /* Ancho del sidenav + margen */
    padding: 20px;
}

/*PRUEBA */
.sub-menu {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-item:hover .sub-menu {
    display: block;
}

.sub-menu li {
    padding: 10px;
    border-bottom: 1px solid #555;
    text-align: center;
}

/*boostrap*/

html {
    height: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: w(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #EB8600;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #EB8600;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}

.lh-tight {
    line-height: 1.25;
}

.sidenav {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    border-right: 2px solid #555;
    padding-top: 20px;
    color: white;
}

@media screen and (max-width: 547px) {
    /**
    .take-button {
        background: green;
        margin-top: 10px;
        width: 162px;
    }**/

    .take-button {
        background: green;
    }
}

@media screen and (min-width: 548px) and (max-width: 790px) {}

@media screen and (min-width: 791px) and (max-width: 964px) {
    /**.take-button {
        margin-top: 10px;
        width: 162px;
    }**/
}

@media (min-width: 965px) {

    /** .take-button {

        margin-top: 10px;
        width: 162px;

    }**/
    .container .row .col-lg-8 .card {
        width: 1110px;
    }
}


@media (max-width: 768px) {
    #sidebar-container {
        display: none;
    }

    .stat {
        border: 0;
    }
}

#columnas {
    column-count: 2;
    column-gap: 20px;
}

/*LETRa*/

.letra {
    font-family: 'Source Serif Pro', cursive !important;
    color: black !important;
    font-size: 15px !important;
}

.letraTitle {
    font-family: 'Source Serif Pro', cursive !important;
    color: black !important;
    font-size: 55px !important;
}