/* Importación de la fuente Open Sans desde Google Fonts. Esta fuente se utilizará en todo el documento. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*Se importan estilos generales*/
* {
  margin: 0;
  /* Establece el margen en cero para todos los elementos.*/
  padding: 0;
  /* Establece el relleno en cero para todos los elementos.*/
  box-sizing: border-box;
  /* Cambia el modelo de caja para incluir el tamaño del borde y el relleno en el ancho y alto del elemento.*/
  font-family: 'Source Serif Pro';
  /* Establece la fuente de todos los elementos como "Open Sans" y si esa fuente no está disponible, se utilizará una fuente genérica sans-serif.*/
}

/*Estilos del cuerpo de la pagina*/
body {
  width: 100%;
  display: flex;
  padding: 0px;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/*1. E M P I E Z A N   L O S   E S T I L O S   D E L   H E A D E R (R E C T A N G U L O)*/
.rectangulo {
  z-index: 9999999;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  position: fixed;
  display: flex;
}

.rectangulo img {
  width: 50%;
  height: 90%;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.rectangulo img:nth-child(1) {
  width: 210px;
  display: flex;
  height: 100px;
  position: fixed;
  margin-top: 0px;
  margin-left: px;
  padding: 25px;
  transform: translateY(-10%)
}

.rectangulo img:nth-child(2) {
  width: 220px;
  display: flex;
  height: 60px;
  position: fixed;
  margin-top: 0px;
  margin-left: 210px;
  transform: translateY(10%)
}

/*R E S P O N S I V E   E N C A B E Z A D O*/

/*Pantalla Mediana (Tablet)*/
@media screen and (max-width: 768px) {
  .rectangulo {
    height: 60px;
  }

  .rectangulo img:nth-child(1) {
    width: 150px;
    height: 60px;
    padding: 12px;
    left: 10px;
    transform: translateY(-5%);
  }

  .rectangulo img:nth-child(2) {
    width: 130px;
    height: 40px;
    transform: translateY(15%);
    left: -40px;
  }
}

/*Pantalla Pequeña (Movil)*/
@media screen and (max-width: 480px) {
  .rectangulo {
    height: 50px;
  }

  .rectangulo img:nth-child(1) {
    width: 120px;
    height: 60px;
    padding: 12px;
    transform: translateY(-12%);
  }

  .rectangulo img:nth-child(2) {
    width: 130px;
    height: 40px;
    transform: translateY(10%);
    padding: 5px;
    left: -90px;
  }
}

/*2. E M P I E Z A   E L   H E A D E R,  M E N U   O   B A R R A   D E   N A V E G A C I O N */
header {
  z-index: 9999999;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #EB8600;
  /*padding: -10px;*/
  justify-content: space-between;
  box-shadow: 0 15px 15xp rgb(255, 230, 0);
  transition: background-color 0.3s ease-in-out;
  transform: translateY(160%)
}

header.transparent {
  background-color: transparent;
}

.logo {
  display: flex;
  align-items: center;
  height: 5px;
  transform: translateY(350%)
}

.logo a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  /* Ajusta el tamaño del icono */
}

.logo a:first-child {
  margin-right: 1400px;
  /* Ajusta el margen entre los logos */
}

.logo a i {
  margin-right: 5px;
  vertical-align: middle;
  /* Alinea verticalmente los iconos */
}


.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 15px;
}

.menu li {
  display: block;
  margin-left: 85px;
  margin-right: -25px;
  height: 50px;
  transform: translateY(15%)
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.menu li a::before {
  content: '';
  position: fixed;
  bottom: 25px;
  width: 70px;
  height: 2px;
  background: #facf8f;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: right;
}

.menu li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.menu li label {
  color: #fff;
  text-decoration: none;
  margin-left: 740px;
  margin-right: 60px;
  background-color: rgba(0, 0, 0, 0);
}

.menu li label::before {
  content: '';
  position: fixed;
  bottom: 25px;
  width: 70px;
  height: 2px;
  background: #facf8f;
  ;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: right;
}

.menu li label:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}


/*3. R E S P O N S I V E   B A R R A   N A V*/

/*Pantalla Mediana (Tablet)*/
@media (max-width: 768px) {
  header {
    height: 40px;
    transform: translateY(140%);
  }

  .logo {
    height: 30px;
    transform: translateY(20%);
  }

  .logo a {
    font-size: 25px;
  }

  .menu {
    font-size: 12px;
  }

  .menu li {
    margin-left: 50px;
    margin-right: -20px;
    height: 40px;
    transform: translateY(0%);
  }

  .menu li a {
    font-size: 12px;
  }

  .menu li label {
    margin-left: 400px;
    margin-right: 40px;
    height: 40px;
    transform: translateY(0%);
  }
}

/*Pantalla Pequeña (Movil)*/
@media (max-width: 480px) {
  header {
    height: 30px;
    transform: translateY(160%);
  }

  .logo {
    height: 30px;
    transform: translateY(0%);
  }

  .logo a {
    font-size: 18px;
  }

  .menu {
    font-size: 10px;
  }

  .menu li {
    margin-left: 30px;
    margin-right: -15px;
    height: 30px;
    transform: translateY(0%);
  }

  .menu li a {
    font-size: 10px;
  }

  .menu li label {
    margin-left: 200px;
    margin-right: 20px;
    height: 30px;
    transform: translateY(0%);
  }
}


/*3. M O S T R A R   M E N U   R E S P O N S I V E*/
.mostrar-menu,
.esconder-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
  color: #fff;
}

.mostrar-menu {
  order: 2;
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff
}

.esconder-menu {
  position: absolute;
  top: 40px;
  right: 40px;
  order: 2;
  margin-right: 10px;
}

#check {
  display: none;
}

/*R E S P O N S I V E*/
@media(max-width: 1700px) {
  .logo .fa-user {
    margin-left: 15px;
    background-color: #facf8f00;
  }
}

/*Pantalla Mediana (Tablet)*/
@media(max-width: 768px) {

  .logo a:first-child {
    margin-right: 0%;
  }

  .logo a:last-child {
    margin-left: auto;
  }

  .mostrar-menu,
  .esconder-menu {
    display: block;
  }


  .menu {
    position: fixed;
    width: 50%;
    height: 100vh;
    background: #eb8500cc;
    right: -90%;
    top: 40px;
    flex-direction: column;
    align-items: start;
    padding: 100px 2px;
    z-index: 100;
    transition: transform 0.8s ease-in-out;
    transform: translateY(8%);
  }

  .menu.active {
    right: 0;
    transform: translateY(0);
  }

  .menu li a {
    margin: 15px 0;
  }

  .menu li label {
    margin: 15px 0;
  }

  .mostrar-menu,
  .esconder-menu {
    display: block;
  }

  .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px;
    order: 2;
    margin-right: 10px;

  }

  #check:checked~.menu {
    right: 0;
    transform: translateY(0);

  }
}

/*Pantalla Pequeña (Movil)*/
@media screen and (max-width: 480px) {

  .menu {
    position: fixed;
    width: 50%;
    height: 100vh;
    background: #eb8500cc;
    right: -90%;
    top: 30px;
    flex-direction: column;
    align-items: start;
    padding: 100px 2px;
    z-index: 100;
    transition: transform 0.8s ease-in-out;
    transform: translateY(8%);
  }

  .menu.active {
    right: 9px;
    transform: translateY();
  }

  .menu li a {
    margin: 15px 0;
  }

  .menu li label {
    margin: 15px 0;
  }

  .mostrar-menu,
  .esconder-menu {
    display: block;
  }

  .mostrar-menu {
    position: static;
    order: 1;
    transform: translateX(485%);
    margin-top: -35px;
  }

  .esconder-menu {
    position: static;
    order: 2;
    margin-right: 0;
  }

  #check:checked~.mostrar-menu {
    display: none;
  }

  #check:checked~.esconder-menu {
    display: block;
    height: 20px;
  }
}

/* C U E R P O  D E  P A G I N A -  E S T I L O  D E  H O M E */

.contenido-pagina {
  margin-top: 1200px;
}

main {
  position: static;
  margin-top: 180x;
  margin-bottom: 100px;
}


/* S E T C I O N  1  /  C A R R U S E L   D E  F O T O S */
#container-slider {
  position: relative;
  display: block;
  width: 100%;
}

#slider {
  position: relative;
  display: block;
  width: 100%;
  height: 90vh;
  min-height: 500px;
}

#slider li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  z-index: -1;
  opacity: 0;
}

#container-slider .arrowPrev,
#container-slider .arrowNext {
  font-size: 30pt;
  color: rgba(204, 204, 204, 0.65);
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50px;
  z-index: 2;
}

#container-slider .arrowNext {
  left: initial;
  right: 50px !important;
}

.content_slider {
  padding: 15px 30px;
  color: #FFF;
  width: 100%;
  height: 100%;
}

.content_slider div {
  text-align: center;
}

.content_slider h2 {
  font-family: 'arial';
  font-size: 30pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.content_slider p {
  font-size: 15pt;
  font-family: 'arial';
  color: #FFF;
  margin-bottom: 20px;
}

#slider li .content_slider {
  background: rgba(0, 0, 0, 0.50);
  padding: 10px 125px;
}

.content_slider {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnSlider {
  color: #FFF;
  font-size: 15pt;
  font-family: 'arial';
  letter-spacing: 1px;
  padding: 10px 50px;
  border: 1px solid #CCC;
  background: rgba(37, 40, 80, 0.55);
  border-radius: 31px;
  text-decoration: none;
  transition: .5s all;
}

.btnSlider:hover {
  background: #111;
  border: 1px solid #111;
}

.listslider {
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  bottom: 5%;
  list-style: none;
  z-index: 2;
  transform: translateX(-50%);
}

.listslider li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin: 0 5px;
}

.listslider li a {
  background: #CCC;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
}

.item-select-slid {
  background: #FFF !important;
}

@media screen and (max-width: 460px) {
  .content_slider h2 {
    font-size: 15pt !important;
  }

  .content_slider p {
    font-size: 12pt !important;
  }

  #container-slider .arrowPrev,
  #container-slider .arrowNext {
    font-size: 20pt;
  }

  #container-slider .arrowPrev {
    left: 15px;
  }

  #container-slider .arrowNext {
    right: 15px !important;
  }

  #slider {
    height: 400px;
    min-height: 400px;
  }

  #slider li .content_slider {
    padding: 10px 35px;
  }

  .btnSlider {
    padding: 10px 30px;
    font-size: 10pt;
  }
}


/* S E T C I O N  2  /  C A R D   I N F O R M A T I V A S*/

#seccion2 .container {
  width: 24%;
  height: 50%;
  display: inline-block;
  max-width: 1100px;
  align-items: center;
  justify-content: center;
}

#seccion2 .card {
  width: 80%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 5px 10px 20px rgba(247, 163, 84, 0.337);
  cursor: pointer;
  transition: all 400ms ease;
}

#seccion2 .card:hover {
  box-shadow: 5px 5px 20px rgba(235, 160, 90, 0.4);
  transform: translateY(-3%);
}

#seccion2 .card img {
  width: 100%;
  height: 300px;
}

#seccion2 .card .contenido {
  position: absolute;
  padding: 100px;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.518);
}

#seccion2 .card .contenido h3 {
  justify-content: center;
  margin-bottom: 15px;
  color: #fff;
}

#seccion2 .card .contenido button {
  width: 150px;
  height: 40px;
  border-radius: 4px;
  color: #fff;
  background-color: rgba(145, 154, 162, 0.979);
  border-color: rgba(145, 154, 162, 0);
}

#seccion2 .card .contenido button:hover {
  background-color: #f1a2238a
}

@media only screen and (max-width: 768px) {
  #seccion2 .card {
    width: 50%;
  }

  #seccion2 .card .contenido h3 {
    font-size: 16px;
  }

  #seccion2 .card .contenido button {
    width: 100px;
    height: 30px;
  }
}


/* S E T C I O N  3  /  B A R R A  D E  U B I C A C I O N  O  I N F O*/

#seccion3 .barra {
  background-color: rgba(145, 154, 162, 0.844);
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

#seccion3 .barra h1 {
  margin: 0;
  font-size: 24px;
}


/* S E T C I O N  3  /  B A R R A  D E  U B I C A C I O N  O  I N F O*/
#seccon4 {
  display: flex;
  flex-wrap: wrap;
}

#seccion4 .columna {
  flex-basis: 50%;
}

/* U B I C A C I O N*/
#seccion4 .mapa {
  outline: 1px solid orange;
  margin: 3em auto;
  width: 300px;
  height: 300px;
}

#seccion4 .mapa iframe {
  width: 100%;
  height: 100%;

}

/* V I D E O*/
#seccio4 .video {
  outline: 1px solid orange;
  margin: 3em auto;
  width: 300px;
  height: 300px;
}



/*4. E M P I E Z A   L O S  E S T I L O S   D E  E L  F O O T E R */
footer {
  background-color: #EB8600;
  /*Establece el color de fondo del footer como #ff9100 (un tono de naranja de los Muckps).*/
  width: 100%;
  /*Establece el ancho del footer al 100% del ancho de su contenedor.*/
  padding: 20px;
  /*Establece un espacio interno de 20px en todos los lados del footer. */
  margin: 0px;
  /*Establece la margen en lados del footer. */
  height: 245px;
  /* Establece la altura del footer.*/
  margin-top: auto;
}

.contenedor {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-top: -50px;
  padding: 1px;
}

/*L O G O S*/
.logo1 {
  position: absolute;
  width: 100px;
  height: 150px;
  margin-right: 2800px;
  left: 25px;
  transform: translateY(40%)
}

.logo2 {
  position: absolute;
  width: 140px;
  height: auto;
  top: 48%;
  left: 53%;
  transform: translate(30%, 50%);
}

/*R E D E S   S O C I A L E S*/
.social-media {
  position: relative;
  text-align: end;
  display: flexbox;
  align-items: flex-end;
  margin-bottom: 10px;
  transform: translateY(640%)
}

.social-media a {
  display: inline-block;
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 35px;
  border-radius: 20%;
  color: #EB8600;
  margin-right: 10px;
  background-color: #ffffff;
  text-align: center;
  transition: all 300ms ease;
}

.social-media a:hover {
  color: rgb(255, 230, 0);
}

/*C O L U M N A S*/
.column-container {
  display: flex;
  justify-content: space-between;
}

/*C O L U M N A  1*/
.column1 {
  width: 500px;
  right: 200px;
  left: 180px;
  position: relative;
}

.column1 h1 {
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.column1 h4 {
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  font-size: 13px;
}

.column1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-size: 13px;
}

.column1 ul li {
  margin-bottom: 5px;
  color: #fff;
}

.column1 ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.column1 ul li a:hover {
  text-decoration: underline;
  color: #ffc979;
}


/*C O L U M N A  2*/
.column2 {
  width: 30%;
  right: 2px;
  left: 10%;
  position: relative;
  align-items: center;
  transform: translateY(15%)
}

.column2 h1 {
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.column2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-size: 13px;
}

.column2 ul li {
  margin-bottom: 5px;
  color: #fff;
  font-size: 13px;
}

.column2 ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.column2 ul li a:hover {
  text-decoration: underline;
  color: #ffc979;
}


/*L I N E A   H O R I Z O N T A L*/
.line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2px;
  background-color: #fcfcfc;
}

/*L I N E A   V E R T I C A L*/
.vertical-line {
  width: 2px;
  /* Ancho de la línea */
  height: 175px;
  /* Altura de la línea */
  background-color: #fdfcfc;
  /* Color de la línea */
  position: relative;
  left: -20px;
}

/*T E X T O  F I N A L  D E L  F O O T E R*/
.text2 {
  position: relative;
  width: 100%;
  background-color: #EB8600;
  /* padding: 5px 5px;*/
  text-align: center;
  color: #fff;
}

.text2 small {
  font-size: 12px;
}

/*R E S P O N S I V E*/

@media (max-width: 950px) {
  .contenedor {
    position: relative;
    display: relative;
    justify-content: flex-start;
    margin-top: -410px;
    padding: 48px;
    transform: translateY(380%)
  }

  footer {
    width: 100%;
    height: -2%;
    padding: 0 10px;
  }

  .logo1 {
    position: absolute;
    width: 110px;
    height: 150px;
    margin-right: 2800px;
    left: 4px;
    transform: translateY(19%)
  }

  .logo2 {
    position: absolute;
    width: 140px;
    height: 130px;
    top: 48%;
    left: 53%;
    transform: translate(-10%, 30%);
  }

  .column-container {
    flex-direction: column;
  }

  .column1 {
    width: 500px;
    right: 200px;
    left: 125px;
    transform: translateY(150%)
  }

  .column2 {
    width: 30%;
    right: 2px;
    left: 70%;
    transform: translateY(-30%)
  }

  .vertical-line {
    width: 2px;
    /* Ancho de la línea */
    height: 175px;
    /* Altura de la línea */
    background-color: #fdfcfc;
    /* Color de la línea */
    position: relative;
    left: 430px;
    transform: translateY(60%)
  }

  .text2 {
    text-align: center;
  }

  .social-media {
    position: relative;
    text-align: end;
    display: flexbox;
    align-items: flex-end;
    margin-bottom: 5px;
    transform: translateY(1900%)
  }

  .social-media a {
    display: inline-block;
    text-decoration: none;
    width: 25px;
    height: 25px;
    line-height: 30px;
    border-radius: 20%;
    color: #EB8600;
    margin-right: 5px;
    background-color: #ffffff;
    text-align: center;
    transition: all 300ms ease;
  }
}

@media (max-width: 810px) {
  .contenedor {
    position: relative;
    display: relative;
    justify-content: flex-start;
    margin-top: -410px;
    padding: 48px;
    transform: translateY(400%)
  }

  footer {
    width: 105%;
    height: -1%;
    padding: 0 10px;
    transform: translateY(380%)
  }

  .logo1 {
    position: absolute;
    width: 100px;
    height: 150px;
    margin-right: 2800px;
    left: -4px;
    transform: translateY(19%)
  }

  .logo2 {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 48%;
    left: 56%;
    transform: translate(-10%, 30%);
  }

  .column-container {
    flex-direction: column;
  }

  .column1 {
    width: 500px;
    right: 200px;
    left: 110px;
    transform: translateY(150%)
  }

  .column2 {
    width: 30%;
    right: 2px;
    left: 75%;
    transform: translateY(-30%)
  }

  .vertical-line {
    width: 2px;
    /* Ancho de la línea */
    height: 175px;
    /* Altura de la línea */
    left: 410px;
    transform: translateY(60%)
  }

  .text2 {
    text-align: center;
  }

  .social-media {
    position: relative;
    text-align: end;
    display: flexbox;
    align-items: flex-end;
    margin-bottom: 5px;
    transform: translateY(1900%)
  }

  .social-media a {
    display: inline-block;
    text-decoration: none;
    width: 25px;
    height: 25px;
    line-height: 30px;
    border-radius: 20%;
    color: #EB8600;
    margin-right: 5px;
    background-color: #ffffff;
    text-align: center;
    transition: all 300ms ease;
  }
}

@media (max-width: 780px) {
  .contenedor {
    position: relative;
    display: relative;
    justify-content: flex-start;
    margin-top: -410px;
    padding: 48px;
    transform: translateY(380%)
  }

  footer {
    width: 102%;
    height: -1%;
    padding: 0 10px;
    transform: translateY(380%)
  }

  .logo1 {
    position: absolute;
    width: 90px;
    height: 150px;
    margin-right: 2800px;
    left: 4px;
    transform: translateY(19%)
  }

  .logo2 {
    position: absolute;
    width: 120px;
    height: 130px;
    top: 48%;
    left: 58%;
    transform: translate(-10%, 30%);
  }

  .column-container {
    flex-direction: column;
  }

  .column1 {
    width: 500px;
    right: 200px;
    left: 100px;
    transform: translateY(150%)
  }

  .column2 {
    width: 30%;
    right: 2px;
    left: 75%;
    transform: translateY(-30%)
  }

  .vertical-line {
    width: 2px;
    /* Ancho de la línea */
    height: 175px;
    /* Altura de la línea */
    background-color: #fdfcfc;
    /* Color de la línea */
    position: relative;
    left: 410px;
    transform: translateY(60%)
  }

  .text2 {
    text-align: center;
  }

  .social-media {
    position: relative;
    text-align: end;
    display: flexbox;
    align-items: flex-end;
    margin-bottom: 5px;
    transform: translateY(1900%)
  }

  .social-media a {
    display: inline-block;
    text-decoration: none;
    width: 25px;
    height: 25px;
    line-height: 30px;
    border-radius: 20%;
    color: #EB8600;
    margin-right: 5px;
    background-color: #ffffff;
    text-align: center;
    transition: all 300ms ease;
  }
}


@media (max-width: 768px) {
  .contenedor {
    position: relative;
    display: relative;
    justify-content: flex-start;
    margin-top: -410px;
    padding: 48px;
    transform: translateY(380%)
  }

  footer {
    width: 100%;
    height: -2%;
    padding: 0 10px;
  }

  .logo1 {
    position: absolute;
    width: 90px;
    height: 150px;
    margin-right: 2800px;
    left: 10px;
    transform: translateY(19%)
  }

  .logo2 {
    position: absolute;
    width: 120px;
    height: 130px;
    top: 48%;
    left: 58%;
    transform: translate(-10%, 30%);
  }

  .column-container {
    flex-direction: column;
  }

  .column1 {
    width: 500px;
    right: 200px;
    left: 103px;
    transform: translateY(150%)
  }

  .column2 {
    width: 30%;
    right: 2px;
    left: 75%;
    transform: translateY(-30%)
  }

  .vertical-line {
    width: 2px;
    /* Ancho de la línea */
    height: 175px;
    /* Altura de la línea */
    background-color: #fdfcfc;
    /* Color de la línea */
    position: relative;
    left: 400px;
    transform: translateY(60%)
  }

  .text2 {
    text-align: center;
  }

  .social-media {
    position: relative;
    text-align: end;
    display: flexbox;
    align-items: flex-end;
    margin-bottom: 5px;
    transform: translateY(1900%)
  }

  .social-media a {
    display: inline-block;
    text-decoration: none;
    width: 25px;
    height: 25px;
    line-height: 30px;
    border-radius: 20%;
    color: #EB8600;
    margin-right: 5px;
    background-color: #ffffff;
    text-align: center;
    transition: all 300ms ease;
  }
}

@media (max-width: 520px) {
  .contenedor {
    position: relative;
    display: relative;
    justify-content: flex-start;
    margin-top: -275px;
    padding: 60px;
    transform: translateY(380%)
  }

  footer {
    width: 135%;
    height: 25%;
    padding: 0 10px;
  }

  .logo1 {
    position: absolute;
    width: 130px;
    height: 160px;
    margin-right: 2800px;
    left: 58px;
    transform: translateY(-135%)
  }

  .logo2 {
    position: absolute;
    width: 140px;
    height: 130px;
    top: 48%;
    left: 58%;
    transform: translate(-242%, -1%);
  }

  .column-container {
    flex-direction: column;
  }

  .column1 {
    width: 500px;
    right: 200px;
    left: 254px;
    transform: translateY(70%)
  }

  .column2 {
    width: 30%;
    right: 2px;
    left: 70%;
    transform: translate(-110%, -7%);
  }

  .vertical-line {
    width: 2px;
    /* Ancho de la línea */
    height: 175px;
    /* Altura de la línea */
    background-color: #fdfcfc;
    /* Color de la línea */
    position: relative;
    left: -16px;
    transform: translateY(60%)
  }

  .text2 {
    text-align: center;
  }

  .social-media {
    position: relative;
    text-align: end;
    display: flexbox;
    align-items: flex-end;
    margin-bottom: 5px;
    transform: translateY(1910%)
  }

  .social-media a {
    display: inline-block;
    text-decoration: none;
    width: 25px;
    height: 25px;
    line-height: 30px;
    border-radius: 20%;
    color: #EB8600;
    margin-right: 5px;
    background-color: #ffffff;
    text-align: center;
    transition: all 300ms ease;
  }
}

@media (max-width: 410px) {
  .contenedor {
    position: relative;
    display: relative;
    justify-content: flex-start;
    margin-top: -240px;
    padding: 60px;
    transform: translateY(380%)
  }

  footer {
    width: 150%;
    height: 25%;
    padding: 0 10px;
  }

  .logo1 {
    position: absolute;
    width: 130px;
    height: 160px;
    margin-right: 2800px;
    left: 40px;
    transform: translateY(-156%)
  }

  .logo2 {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 48%;
    left: 51%;
    transform: translate(-190%, -20%);
  }

  .column-container {
    flex-direction: column;
  }

  .column1 {
    width: 500px;
    right: 200px;
    left: 240px;
    transform: translateY(50%)
  }

  .column2 {
    width: 30%;
    right: 2px;
    left: 83%;
    transform: translate(-141%, -33%);
  }

  .vertical-line {
    width: 2px;
    /* Ancho de la línea */
    height: 175px;
    /* Altura de la línea */
    background-color: #fdfcfc;
    /* Color de la línea */
    position: relative;
    left: -16px;
    transform: translateY(60%)
  }

  .text2 {
    text-align: center;
  }

  .social-media {
    position: relative;
    text-align: end;
    display: flexbox;
    align-items: flex-end;
    margin-bottom: 10px;
    transform: translate(-35%, 1970%)
  }

  .social-media a {
    display: inline-block;
    text-decoration: none;
    width: 25px;
    height: 25px;
    line-height: 30px;
    border-radius: 20%;
    color: #EB8600;
    margin-right: 5px;
    background-color: #ffffff;
    text-align: center;
    transition: all 300ms ease;
  }
}

@media (max-width: 330px) {
  .contenedor {
    position: relative;
    display: relative;
    justify-content: flex-start;
    margin-top: -250px;
    padding: 60px;
    transform: translateY(380%)
  }

  footer {
    width: 168%;
    height: 25%;
    padding: 0 10px;
  }

  .logo1 {
    position: absolute;
    width: 120px;
    height: 150px;
    margin-right: 2800px;
    left: 30px;
    transform: translateY(-160%)
  }

  .logo2 {
    position: absolute;
    width: 115px;
    height: 120px;
    top: 48%;
    left: 51%;
    transform: translate(-210%, -20%);
  }

  .column-container {
    flex-direction: column;
  }

  .column1 {
    width: 500px;
    right: 200px;
    left: 190px;
    transform: translateY(55%)
  }

  .column2 {
    width: 30%;
    right: 2px;
    left: 78%;
    transform: translate(-141%, -25%);
  }

  .vertical-line {
    width: 2px;
    /* Ancho de la línea */
    height: 175px;
    /* Altura de la línea */
    background-color: #fdfcfc;
    /* Color de la línea */
    position: relative;
    left: -16px;
    transform: translateY(60%)
  }

  .text2 {
    text-align: center;
  }

  .social-media {
    position: relative;
    text-align: end;
    display: flexbox;
    align-items: flex-end;
    margin-bottom: 10px;
    transform: translate(-35%, 1970%)
  }

  .social-media a {
    display: inline-block;
    text-decoration: none;
    width: 25px;
    height: 25px;
    line-height: 30px;
    border-radius: 20%;
    color: #EB8600;
    margin-right: 5px;
    background-color: #ffffff;
    text-align: center;
    transition: all 300ms ease;
  }
}