.title {

    font-family: 'Source Serif Pro' !important;
    color: black !important;
    font-size: 25px !important;
    text-align: center !important;
    font-weight: 700 !important;
    top: 117px !important;
    position: relative !important;
}